.footer__menu {

  ul {
	display: flex;
	list-style: none;
	justify-content: center;
	align-items: center;
	margin: 0;
	padding: 0;

	li {
	  padding-left: 0.75rem;
	  padding-right: 0.75rem;

	  a {
		letter-spacing: -0.2px;
		white-space: nowrap;
		font-weight: 500;
		color: inherit;
		font-size: 14px;

		&:hover {
		  color: darken($primary, 10%);
		}
	  }
	}
  }
}