/* ====================
# COMPONENTS: BUTTONS
==================== */

a {
  font-size: inherit;
  line-height: inherit;
  color: $primary;
  text-decoration: none;
  font-weight: 800;

  &.link {
    &-meta {
      font-weight: 400;
      line-height: 1.5;
    }
  }
}

a,
button,
*[type="submit"],
*[type="button"] {
  display: inline-block;

  outline: none;
  cursor: pointer;

  text-decoration: none;

  transition-property: color, background-color, border, box-shadow, transform;
  transition-duration: .3s;
  transition-timing-function: linear;

  img,
  svg {
    transition-property: filter;
    transition-duration: .3s;
    transition-timing-function: linear;
  }
}

a {
  color: inherit;

  &:hover {
    color: darken($primary, 10%);

    img,
    svg {
      transition: .4s;
      // filter: drop-shadow(0 3px 5px rgba($midgrey, .75));
    }
  }
}

.link {
  color: $primary;

  &:hover {
    color: darken($primary, 10%);
  }
}

// Theme Buttons
.bttn {
  color: $white;
  text-align: center;
  font-weight: 900;
  line-height: 1.4;
  letter-spacing: -0.55px;

  &-group {
    display: flex;
    justify-content: center;
    margin-left: -$grid-space;
    margin-right: -$grid-space;
    padding-top: 0.725rem;
  }

  &-item {
    padding-left: $grid-space;
    padding-right: $grid-space;
  }

  &-primary {
    min-width: 180px;
    padding: 0.75rem 1.5rem .75rem 1.5rem;
    border: 1px solid $primary;
    border-radius: 1.75rem;
    background-color: $primary;

    &:hover {
      background-color: darken($primary, 10%);
    }
  }

  &-arrow {
    display: inline-flex;
    align-items: center;
    font-weight: 900;
    font-size: 20px;
    line-height: 24px;

    &:after {
      content: '';
      display: block;
      width: 20px;
      height: 20px;
      margin-left: 3px;
      background-image: url(../../assets/images/arrow.svg);
      background-position: center center;
      background-size: cover;
    }
  }

  &-sm {
    min-width: auto;
  }

  &-lg {
    display: flex;
    align-items: center;
    padding: .8125rem 1.0625rem .8125rem 1.625rem;
    font-size: 1.25em;
    letter-spacing: 0;

    span {
      padding-right: 5px;
    }
  }

  &-md {
    min-width: auto;
    padding: 12px 24px;
  }

  &-stroke {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 166px;
    height: 48px;
    border: 1px solid rgba(12, 13, 16, .16);
    border-radius: 0.5rem;
    line-height: 1;

    svg {
      display: block;
      margin-left: auto;
      margin-right: auto;
    }
  }

  &:hover {
    color: $white;
  }
}
