/* ====================
# Blog: ARCHIVE / CATEGORY / TAG
==================== */
@import '../utilities/color';
@import '../utilities/sizes';
@import 'blog/general';
@import 'post/article-card';

.archive {
  // Header
  &-header {
    background-color: $alice_blue1;
    &-wrapper {
      padding-top: 25px;
      padding-bottom: 33px;
    }
    &-inner {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      align-items: center;
    }
    &-title {
      flex: 0 0 100%;
      max-width: 100%;
    }

    .link {
      &-all-posts {
        display: block;
        padding-bottom: 6px;
        letter-spacing: -0.01em;
        font-weight: 400;
        color: inherit;
      }
      img, svg {
        margin-right: 8px;
        margin-bottom: 1px;
      }
    }
  }

  // Content
  &-posts {
    padding-top: 4rem;
    padding-bottom: 4rem;
    &-grid {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      gap: 3rem 1.5rem;
    }
  }

  // Loadmore
  .loadmore-block {
    padding-top: 0;
  }

  @media screen and (max-width: map-get($breakpoints, 'xl' )) {
    // Content
    &-posts {
      &-grid {
        grid-template-columns: repeat(2, 1fr);
      }
    }
  }
  @media screen and (max-width: map-get($breakpoints, 'lg' )) {
    &-header {
      .link {
        &-all-posts {
          padding-bottom: 0;
        }
      }
      &-title {
        padding-top: 0.375rem;
      }
    }
  }
  @media screen and (max-width: map-get($breakpoints, 'sm' )) {
    // Content
    &-posts {
      &-grid {
        grid-template-columns: 1fr;
      }
    }
  }
}

.search {
  // Search Page
  .not-found {
    grid-column-start: 1;
    grid-column-end: 4;
  }
}