// COLORS

$white:         #ffffff !default;
$black:         #000000 !default;
$midnight:      #17191B !default;
$rhino:         #414A55 !default;
$midgrey:       #646F79 !default;
$midgrey1:      #A0ABB5 !default;
$lightgrey:     #7A869A !default;
$lightgrey1:    #DCE5EC !default;
$midnight_blue: #103867 !default;
$brand_blue:    #147dfa !default;
$light_blue:    #14E1FF !default;
$alice_blue:    #F4F7FB !default;
$alice_blue1:   #F1F7FF !default;
$orange:        #FFAB00 !default;


$primary:         $brand_blue !default;
$text_primary:    $midnight;
$text_secondary:  $rhino !default;
$text_tertiary:   $midgrey !default;
$bg_secondary:    $alice_blue !default;
$icon:            $lightgrey !default;