$grid-columns:                12 !default;
$grid-gutter-width:           16px !default;
$grid-space:                  $grid-gutter-width / 2 !default;
$grid-row-columns:            6 !default;

$breakpoints: (
  sm: 575px,
  md: 767px,
  lg: 991px,
  xl: 1199px,
) !default;