/* ====================
# BASE: TYPOGRAPHY
==================== */
html,
body {
  font-size: 16px;
  font-family: $font_primary;
  font-weight: 400;
  letter-spacing: -0.2px;
  letter-spacing: -0.01em;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
  font-weight: 900;
  color: $text_primary;
  letter-spacing: -0.01em;
}

h1,
.h1 {
  font-size: 4.5rem;
  font-weight: 900;
  line-height: 1;
}

h2,
.h2 {
  font-size: 2.5rem;
  line-height: 1.2;
  font-weight: 900;
}

h3,
.h3 {
  font-size: 1.75rem;
  line-height: 36px;
  font-weight: 900;
}

h4,
.h4 {
  font-size: 1.375rem;
  line-height: 32px;
  font-weight: 800;
}

h5,
.h5 {
  font-size: 1.25rem;
  line-height: 1.4;
  font-weight: 800;
}

p {
  letter-spacing: -0.01em;

  strong,
  b {
    font-weight: 800;
  }
}

.p1,
.p2,
.p3 {
  color: $text_tertiary;
}

.hero-description p,
.p1 {
  font-size: 1.5rem;
  line-height: 1.6667;
  font-weight: 500;
}

.section-description p,
.p2 {
  font-size: 1.25rem;
  line-height: 1.6;
}

.p3 {
  font-size: 1.25rem;
  line-height: 2;
}

.p4 {
  font-size: 1.125rem;
  line-height: 1.6;
  font-weight: 500;
  color: $text_tertiary;
}



.txt {
  &-blue {
    display: inline-block;
    color: $primary;
  }

  &-500 {
    font-weight: 500;
  }

  &-800 {
    font-weight: 800;
  }

  &-900 {
    font-weight: 900;
  }

  &-18 {
    font-size: 1.125rem;
  }
}

@media screen and (max-width: map-get($breakpoints, 'xl')) {

  h5,
  .h5 {
    font-size: 1rem;
  }
}

@media screen and (max-width: map-get($breakpoints, 'sm')) {
  h2, .h2 {
    font-size: 1.75rem;
    line-height: 2.25rem;
  }
  // h3, .h3 {
  //   font-size: 1.125rem;
  //   line-height: 1.75rem;
  // }
}